{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Flask-Admin</h1>
            {% if not current_user.is_authenticated %}
            <p class="lead">
                Authentication
            </p>
{#            {% if not current_user.is_authenticated %}#}
            <p>You can register as a regular user, or log in as a superuser with the following credentials:
            <ul>
                <li>email: <b>superuser@test.com</b></li>
                <li>password: <b>superpassword</b></li>
            </ul>
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">register</a>
            </p>
            {% endif %}
            <p>
                <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            </p>
        </div>
    </div>
</div>
{% endblock body %}